h1{
    color: red;
}
h2{
    color: #bbbbbb;
}
h2~h2{
    color: #999999;
}
h2~h2~h2{
    color: #666666;
}
h2~h2~h2~h2{
    color: #111111;
}
li{
    list-style-type: upper-roman;
}
p span{
    background-color: green;
}
.Franky{
    background-color: green;
}
.Avi{
    background-color: aqua;
    color: blue;
}
.Boris{
    background-color: greenyellow;
    color: red;
}
.Tony{
    background-color: red;
    color: yellow;
}
ul a{
    color: green;
    text-decoration: none;
}
ul li{
    text-transform: uppercase;
}